.wrapper {
    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-template-rows: 300px 300px;
    gap: 10px;
    padding: 10px;

  }
.head{
    background-color: #419488;
    height: 80px;
    width: 1000px;

}
h1{
    color: #faf9f9;
    font-size: 50px;
    
}
.box{
    background-color: #fcfdfd;
    border: #cac9c9 solid 1px;
    box-shadow: 2px 5px #cac9c9;
}
.box>img{
    height: 80%;
    width: 100%;
    
}
p{
    padding-left: 10px;
}