.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  padding: 20px;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.modal {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.modal-container {
  position: absolute;
  width: 60%;
  background: #ffffff;
  left: 25%;
  top: 30%;
  padding: 20px;
}
/* CSS cho phần tử h1 */
h1 {
  font-size: 2rem;
  margin: 1rem 0;
}

/* CSS cho phần tử h2 */
h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

/* CSS cho phần tử form */
form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

/* CSS cho input và label trong form */
label {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

input {
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

/* CSS cho button trong form */
button {
  padding: 0.5rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

/* CSS cho danh sách contact */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid #ccc;
  margin-bottom: 0.5rem;
}

.contact-name {
  font-weight: bold;
  font-size: 1.2rem;
}

.contact-phone {
  font-size: 1.2rem;
}

/* CSS cho nút xóa */
.delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

